NEXTJS_ENV=development
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
APPLE_WEB_CLIENT_ID=
APPLE_NATIVE_CLIENT_ID=
APPLE_WEB_REDIRECT_URI=
APPLE_SESSION_SECRET=
PUSH_TEST_SEND_SECRET=
WEB_PUSH_VAPID_PUBLIC_KEY=
WEB_PUSH_VAPID_PRIVATE_KEY=
WEB_PUSH_VAPID_SUBJECT=mailto:you@example.com
